/*
Template Name: SAFEER
Author: Efriandika Pratama
Email: efriandika@jakartawebs.com
Version: 1.0
*/

/* Message */
.message {
	position: relative;
	display : inline-block;
	margin : 0 20px 20px 20px;
	padding : 5px 0 5px 35px;
	clear : both;
	cursor : pointer;
	-moz-box-shadow: 1px 1px 0 #e6e6e6;
	-webkit-box-shadow: 1px 1px 0 #e6e6e6;
	box-shadow: 1px 1px 0 #e6e6e6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6');
	zoom: 1;
}

.message ul{list-style-type: none; padding: 0px; margin: 0px; } 
.message ul li{padding: 0; margin: 0px;}
 
.message:hover {
	opacity : 0.7;
	filter : alpha(opacity=70);
}

.message ul span {
	display : block;
	background : url(../images/template/system-icon.png) no-repeat 98% center;
	padding : 0;
	font : 12/1.3em Arial;
}

.message ul.errorMessage {padding: 5px 0px;}
.message ul.actionMessage {padding: 5px 0px;}

.message span {
	display : block;
	background : url(../images/template/system-icon.png) no-repeat 98% center;
	padding : 5px 0px;
	font : 12/1.3em Arial;
}

.message.inner {
	margin : 0 0 20px;
}

.message.red {
	display : block;
	background : url(../images/template/icon-error.png) no-repeat 10px 8px #F8E9E9;
	border : 1px solid #E4BBBC;
	color : #b80000;
}

.message.green {
	display : block;
	background : url(../images/template/icon-succes.png) no-repeat 10px 8px #EBF9E2;
	border : 1px solid #BEE4A5;
	color : #6aa500;
}

.message.blue {
	display : block;
	background : url(../images/template/icon-info.png) no-repeat 10px 8px #E9F3F8;
	border : 1px solid #BBD7E4;
	color : #136bc5;
}

.message.orange {
	display : block;
	background : url(../images/template/icon-warning.png) no-repeat 10px 8px #FFF8D8;
	border : 1px solid #F3D97E;
	color : #ed9d12;
}


/* buttont */
.uibutton {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.6em 0.375em;
    border: 1px solid #999;
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    white-space: nowrap;
    cursor: pointer;
    /* outline: none; */
    color: #333;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.uibutton:hover,
.uibutton:focus,
.uibutton:active {
    border-color: #777 #777 #666;
}

.uibutton:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* ............................................................................................................. Icons */

.uibutton.icon:before {
    content: "";
    position: relative;
    top: 1px; 
    float:left;
    width: 10px;
    height: 12px;
    margin: 0 0.5em 0 0;
    background: url(../images/fb-icons.png) 99px 99px no-repeat;
}

.uibutton.icon2:before {
    content: "";
    position: relative;
    top: 0px; 
    float:left;
    width: 13px;
    height: 13px;
    margin: 0 1px 0 0;
    background: url(../images/sprite.png) 99px 99px no-repeat;
}

.uibutton.edit:before { background-position: 0 0; }
.uibutton.add:before { background-position: -10px 0; }
.uibutton.secure:before { background-position: -20px 0; }
.uibutton.prev:before { background-position: -30px 0; }
.uibutton.next:before { float:right; margin: 0 -0.25em 0 0.5em; background-position: -40px 0; }
.uibutton.view:before { background-position:-34px -242px; }

/* ------------------------------------------------------------------------------------------------------------- BUTTON EXTENSIONS */

/* ............................................................................................................. Large */

.uibutton.large {
    font-size: 13px;
}

/* ............................................................................................................. Submit, etc */

.uibutton.confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5B74A8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
}

.uibutton.revisi {
    border-color: #FF0000;
    color: #fff;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF4C4C), to(#CC0000));
    background-image: -moz-linear-gradient(#FF4C4C, #CC0000);
    background-image: -o-linear-gradient(#FF4C4C, #CC0000);
    background-image: linear-gradient(#FF4C4C, #CC0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF4C4C', EndColorStr='#CC0000'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF2F2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF2F2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF2F2;
}

.uibutton.confirm:active {
    border-color: #29447E;
    background: #4F6AA3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ............................................................................................................. Special */

.uibutton.special {
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    background-color: #69a74e;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75ae5c), to(#67a54b));
    background-image: -moz-linear-gradient(#75ae5c, #67a54b);
    background-image: -o-linear-gradient(#75ae5c, #67a54b);
    background-image: linear-gradient(#75ae5c, #67a54b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c', EndColorStr='#67a54b'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
}

.uibutton.search {
    border-color: #ffc600 #ffc600 #7e4d00;
    color: #fff;
    background-color: #b19a3e;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e8b827), to(#ce940a));
    background-image: -moz-linear-gradient(#e8b827, #ce940a);
    background-image: -o-linear-gradient(#e8b827, #ce940a);
    background-image: linear-gradient(#e8b827, #ce940a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8b827', EndColorStr='#ce940a'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #e9e573;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #e9e573;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #e9e573;
    
}


.uibutton.special:active {
    border-color: #3b6e22;
    background: #609946;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.uibutton.search:active {
    border-color: #6e4b22;
    background: #c08c1c;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ............................................................................................................. Disable */

.uibutton.disable {
    z-index: 0;
    border-color: #c8c8c8;
    color: #b8b8b8;
    background: #f2f2f2;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.uibutton.confirm.disable {
    color: #fff;
    border-color: #94a2bf;
    background: #adbad4;
}

.uibutton.special.disable {
    color: #fff;
    border-color: #9db791;
    background: #b4d3a7;
}
.uibutton.search.disable {
    color: #fff;
    border-color: #9db791;
    background: #b4d3a7;
}
.uibutton.disable.icon:before,
.uibutton.disable.icon:after {
    opacity: 0.5;
}

/* ------------------------------------------------------------------------------------------------------------- BUTTON GROUPS */

.uibutton-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.uibutton + .uibutton,
.uibutton + .uibutton-group,
.uibutton-group + .uibutton,
.uibutton-group + .uibutton-group {
    margin-left: 3px;
}

.uibutton-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.uibutton-group .uibutton {
    float: left;
    margin-left: -1px;
}

.uibutton-group .uibutton:hover,
.uibutton-group .uibutton:focus,
.uibutton-group .uibutton:active {
    z-index:2;
}

.uibutton-group > .uibutton:first-child,
.uibutton-group li:first-child .uibutton {
    margin-left: 0;
}

/* ------------------------------------------------------------------------------------------------------------- BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */

.uibutton-toolbar, .pagelinks {
    padding: 6px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    text-align: center;
}

.uibutton-toolbar.extend, .pagelinks .extend{
	margin: 0px 20px 20px 20px;
}

.uibutton-toolbar .uibutton,
.uibutton-toolbar .uibutton-group, .pagelinks .uibutton-group, .pagelinks .uibutton{
    vertical-align: bottom;
}

a.uibutton{text-decoration: none }
a.uibutton:hover{text-decoration: none }



/* -------------------------------------------- */
fieldset{
	border: 1px solid #ccc;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 0.6em;

}

fieldset legend{
	font-weight: bold;
	padding: 0.2em 0.5em;
  	border:1px solid #ccc;
  	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 0.6em;
}

/* Display tag */
.pagebanner{
	text-align: center;
	margin: 2px;
}

.headcontainer{
	min-height: 20px;
	padding: 4px 2px 2px 2px;
	margin: 0px 18px auto;
	background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#8C8C8C));
    background-image: -moz-linear-gradient(#f5f6f6, #8C8C8C);
    background-image: -o-linear-gradient(#f5f6f6, #8C8C8C);
    background-image: linear-gradient(#f5f6f6, #8C8C8C);
    -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}


/* LIGHTBOX */
.fbox_header 
{
	background-color:#6098C4;
	border-top:#3B5998 solid 1px;
	border-right:#3B5998 solid 1px;
	border-left:#3B5998 solid 1px;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
	padding:6px 0px 6px 10px;
}
.fbox_container
{
	border-bottom:1px #555555 solid;
	border-left:1px #555555 solid;
	border-right:1px #555555 solid;
	padding-top:10px;
	background-color:#FFFFFF;
	
}
.fbox_content{
	padding:10px;
	overflow:scroll;
  	max-height: 450px;
  	overflow: auto;
}
.fbox_footer{
	background-color:#F2F2F2;
	border-top:1px #CCCCCC solid;
	padding:8px;
	text-align:right;
	margin-top:10px;
	margin-bottom: 0px
}

img.banner{
	box-shadow:0 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.5);
}


/* Table Profile */
table.profile{
	text-align: left;
	border-spacing: 0px;
	border-collapse: collapse;
	border-bottom: 1px solid #CCC;
	margin: 0 auto;
	width: 95%;
}

table.profile td, table.profile th{
	border-collapse: collapse;
	border-bottom: 1px solid #CCC;
	padding: 18px 0px;
	vertical-align: top;
}

table.profile th{
	background: #EEE;
}

table.profile tr:hover{ background-color:#eee; }

/* Scroll to top */
#toTop {
	width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed; /* this is the magic */
    bottom:0px; /* together with this to put the div at the bottom*/
    right:0px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module{
	min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumb{
	margin: 1px 1px;
	padding: 0;
	float: left;
	display: block;
	height: 21px;
	overflow: hidden;
	min-width: 906px;
	width: 98.7%;
	padding:5px;
	border:solid 1px #dedede;
	background:#fff;
}

.breadCrumb ul{
	margin: 0;
	padding: 0;
	height: 21px;
	display: block;
}

.breadCrumb ul li{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(../images/Chevron.gif) no-repeat 100% 0;
}

.breadCrumb ul li div.chevronOverlay{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.breadCrumb ul li span{
	display: block;
	overflow: hidden;
}

.breadCrumb ul li a{
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
}

.breadCrumb ul li.first a{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	background:url(../images/IconHome.gif) no-repeat 0 0;
}

.breadCrumb ul li.first a:hover{
	background-position: 0 -16px;
}

.breadCrumb ul li.last{
	background: none;
	margin-right: 0;
	padding-right: 0;
}

.chevronOverlay{
	display: none;
	background: url(../images/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}

/* Freeze Page Load */
.FreezePaneOff{
      visibility: hidden;
      display: none;
      position: absolute;
      top: -100px;
      left: -100px;
 }

.FreezePaneOn{
      position: fixed;
      top: 0px;
      left: 0px;
      visibility: visible;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 101;
}

.FreezeOverlay{
	 background-color: #666;
     z-index: 102;
     filter:alpha(opacity=70);
     opacity:0.7;
     -moz-opacity:0.7;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
}

.InnerFreezePane {
	margin-top: 15%;
	margin-left: 25%;
	position: absolute;
	z-index: 103;
    text-align: center;
    opacity:1;
    width: 47%;
    background: url(../images/template/bg.png) repeat left top #FFF;
    color: #737373;
    font-size: large;
    padding: 10px;
    border: 8px solid #4D4D4D;
	-webkit-box-shadow:0 0 18px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 18px rgba(0,0,0,0.3);
	box-shadow:0 0 18px rgba(0,0,0,0.3);/* 
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px; */
}

.hps_image{
	border: 1px solid #ccc;
	padding: 3px;
}

/* .pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 100%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
} */


